cmake == 3.25.2
numpy == 1.22.3 
pandas == 1.5.3
Pillow == 9.0.1
streamlit == 1.12.0
streamlit-authenticator == 0.2.1
streamlit-drawable-canvas == 0.9.1
openslide-python == 1.2.0
PyYAML == 6.0
scikit-image == 0.19.3
stqdm == 0.0.4
matplotlib == 3.5.2
scipy == 1.7.3
torch == 1.12.0
seaborn == 0.11.2
glob2 == 0.7
torchvision == 0.13.0
scanpy == 1.9.1
squidpy == 1.2.3
beautifulsoup4 == 4.11.1
pathlib == 1.0.1


